{% load spirit_tags i18n %}

{% include "spirit/user/admin/_tabs.html" with active_tab=active_tab %}

<div class="rows">

    {% for u in users %}
        <div class="row">
            <a href="{{ u.st.get_absolute_url }}">{{ u.username }}</a>
            <div class="row-edit">
                {% if user.st.is_administrator %}<a href="{% url "spirit:admin:user:edit" user_id=u.pk %}"><i class="fa fa-cog"></i> {% trans "edit" %}</a>{% endif %}
                {% if user.st.is_administrator or user.st.is_moderator %}<a href="{% url "spirit:admin:user:suspend" user_id=u.pk %}"><i class="fa fa-ban"></i> {% trans "suspend" %}</a>{% endif %}
            </div>
        </div>
    {% endfor %}

</div>

{% render_paginator users %}
