{% extends "spirit/_base.html" %}

{% load i18n %}

{% block title %}{% trans "Avatar change" %}{% endblock %}

{% block content %}

    <h1 class="headline">{% trans "Avatar change" %}</h1>

    <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include "spirit/_form.html" %}

        <input class="button" type="submit" name="post" value="{% trans 'Save' %}" />
    </form>

<script>
jQuery(document).ready(function() {
	var choice = $('#id_avatar_chosen');
	var fileField = $('#id_avatar').closest('.field');
	if (choice.find(':checked').val() === 'file') {
		fileField.show();
	} else {
		fileField.hide();
	}
	choice.on('change', function() {
		if (choice.find(':checked').val() === 'file') {
			fileField.show();
		} else {
			fileField.val(null);
			fileField.hide();
		}
	});
});
</script>
{% endblock %}